<div class="card-content">
  <h3 class="title"><%= post.title %></h3>
  <p><%= post.body %></p>
  <div class="icon-wrapper">
    <i class="mdi mdi-star-plus-outline"></i>
    <i class="mdi mdi-eye-plus-outline"></i>
    <i class="mdi mdi-share-variant-outline"></i>
  </div>
</div>